@import "tailwindcss";

:root {
  --background: #eff0f2;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oswald: var(--font-oswald);
  --font-ubuntu-mono: var(--font-ubuntu-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #eff0f2;
  }
} */

html {
  overflow: visible;
  overflow-y: scroll;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ubuntu-mono), ui-sans-serif, system-ui;
  background-image: radial-gradient(#d7dce2 1px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
}

h1 {
  font-family: var(--font-oswald), ui-sans-serif, system-ui;
  font-weight: 700;
}

h2,
h3 {
  font-family: var(--font-oswald), ui-sans-serif, system-ui;
  font-weight: 400;
}

p {
  font-family: var(--font-ubuntu-mono), ui-sans-serif, system-ui;
}

@utility header {
    @apply flex items-center gap-4 mx-auto lg:mx-0 justify-center lg:justify-start
    uppercase text-5xl md:text-6xl font-oswald font-extrabold 
    bg-gradient-to-r from-[#011638] to-[#0d21a1] bg-clip-text text-transparent tracking-tight;
  }

@utility withspade {
    &::before,
    &::after {
      content: "♠";
      @apply text-[#eec643] font-normal font-ubuntu-mono text-4xl md:text-5xl;
    }
  }

@utility headersub {
    @apply text-3xl md:text-4xl font-oswald font-medium
    bg-gradient-to-r from-[#011638] to-[#0d21a1] bg-clip-text text-transparent tracking-tight;
  }

@utility gradient {
  @apply bg-gradient-to-r from-[#011638] to-[#0d21a1] bg-clip-text text-transparent tracking-tight;
}

@utility withminispade {
    &::before,
    &::after {
      content: "♠";
      @apply text-[#eec643] font-ubuntu-mono text-2xl md:text-3xl px-2;
    }
  }

@utility btn-yellow {
    @apply px-10 py-4 rounded-3xl
      bg-[#d9b237]/90 shadow-[0_0_0_#d9b237] border-2 border-[#d9b237]
      text-white text-lg text-center
      hover:bg-[#d9b237] hover:shadow-[0_0_25px_#d9b237] hover:text-white
      hover:scale-105 
      transition-all duration-300 transform;
  }

@utility btn-blue {
    @apply px-10 py-4 rounded-3xl
      bg-[#011638]/90 shadow-[0_0_0_#011638] border-2 border-[#011638]
      text-white text-lg text-center
      hover:bg-[#011638] hover:shadow-[0_0_25px_#011638] hover:text-white
      hover:scale-105 
      transition-all duration-300 transform;
  }

@utility box {
    @apply text-[#141414]/80 text-base lg:text-lg leading-relaxed backdrop-blur-sm bg-white/70 px-8 py-6 rounded-2xl shadow-xl hover:shadow-2xl transition-all duration-500 text-center lg:text-left;
  }

@utility manage_thead {
    @apply bg-[#011638] text-[#eff0f2] font-oswald uppercase text-sm tracking-wider font-bold;
  }

.manage_thead tr th {
    @apply px-4 py-3 text-center text-sm font-oswald font-bold text-[#eff0f2] uppercase tracking-wider;
  }

.manage_thead tr th div {
    @apply flex items-center justify-center gap-2;
  }

@utility th-sortable {
  @apply w-full cursor-pointer hover:bg-[#012a5a] transition-colors;
  
  &.is-active {
    @apply bg-[#012a5a];
  }
}

@utility manage_table_div {
    @apply bg-[#fbfaf8] rounded-xl shadow-lg border border-gray-200 overflow-x-auto;
  }

@utility manage_table {
    @apply w-full text-left border-collapse table-fixed overflow-x-auto;
  }

.manage_table_div table tbody {
    @apply divide-y divide-gray-200 text-[#012a5a] font-ubuntu-mono;
  }

.manage_table_div table tbody tr td {
    @apply px-6 py-4;
  }

.manage_table_div table tbody tr td.status {
    @apply py-10 text-center font-ubuntu-mono text-gray-400;
  }

.manage_table_div table tbody tr {
    @apply bg-white odd:bg-[#fbfaf8] hover:bg-blue-50/50 transition-colors;
  }

.manage_table_div table tbody tr .title {
    @apply font-oswald font-medium text-[#011638] text-lg break-words;
  }

.manage_table_div table tbody tr .date_col {
    @apply text-center text-sm text-[#475569] font-ubuntu-mono;
  }

@utility form_label {
    @apply block text-sm font-medium font-oswald text-[#011638] mb-1;
    
    &.not_required {
      &::after {
        content: " ";
      }
    }

    &::after {
      content: " *";
      @apply text-[#eec643];
    }

  }

Popup .form_error:first-child {
    @apply text-xs text-red-600 flex;
  }

@utility form_error {
    @apply text-xs text-red-600 mb-2 flex;
  }

@utility form_input {
    @apply placeholder:text-slate-400 w-full px-3 py-2 border border-[#94a3b8] rounded-lg mb-2 bg-[#fbfaf8] font-ubuntu-mono focus:ring-[#011638] focus:ring-1 active:ring-[#011638] active:ring-1 outline-none transition custom-scrollbar-blue;

    &[data-error="true"] {
      @apply border-red-600 focus:border-red-600 focus:ring-red-600;
    }
  }

@utility form_input_area {
  @apply form_input;
  @apply min-h-[140px] max-h-[480px];
}

@utility form_dropdown_container {
    &[data-error="true"] button {
      @apply border-red-600 focus:border-red-600 focus:ring-red-600;
    }
  }

@utility form_btn-cancel {
    @apply px-4 py-2 text-[#475569] font-ubuntu-mono hover:text-[#011638] cursor-pointer disabled:cursor-not-allowed transition-colors;
  }

@utility form_btn-red {
    @apply px-6 py-2 bg-red-600 text-white rounded-lg hover:bg-red-600/80 font-oswald disabled:cursor-not-allowed cursor-pointer disabled:bg-red-600/50 disabled:text-white/50 transition-colors;
  }

@utility form_btn-blue {
    @apply px-6 py-2 bg-[#1e4db7] text-white rounded-lg hover:bg-[#1e4db7]/80 font-oswald disabled:cursor-not-allowed cursor-pointer disabled:bg-[#1e4db7]/50 disabled:text-white/50 transition-colors;
  }
/* group inline-block px-6 sm:px-10 py-3 sm:py-4 rounded-3xl border-2 border-[#011638] font-bold text-base sm:text-lg whitespace-nowrap bg-[#011638]/75 hover:bg-[#011638] text-white shadow-xl hover:shadow-2xl hover:scale-105 transition-all duration-300 transform */

@utility custom-scrollbar-blue {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #d6d7d8;
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background: #011638;
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: padding-box;
    &:hover {
      background: #011638;
      cursor: pointer;
    }
  }
}

@utility custom-scrollbar-white {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
    &:hover {
      background: rgba(255, 255, 255, 0.6);
      cursor: pointer;
    }
  }
}

@utility custom-scrollbar-white-nobg {
  &::-webkit-scrollbar {
    width: 10px;
  }
  /* Tracks have no background here */
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: padding-box;
    &:hover {
      background: rgba(255, 255, 255, 0.6);
      cursor: pointer;
    }
  }
}

select {
  @apply custom-scrollbar-blue;
}

/* DONT MIND THIS*/
#kidla {
  z-index: 40;
  cursor: pointer;
}

/*
#kidla:hover:not(.modal-open),
#kidla:active:not(.modal-open) {
  animation: jello-vertical 0.8s;
}

#kidla.modal-open:hover,
#kidla.modal-open:active {
  animation: none;
}*/

#kidla {
  background-image: url("/images/Body2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
}

#kidla:hover {
  background-image: url("/images/Body1.png");
  transform: scaleX(-1);
}

#kidla.modal-open {
  background-image: url("/images/D2.png") !important;
  transform: translateY(0);
  animation: jello-vertical 0.4s;
}

.huh {
  transition: transform 0.2s ease-out;
  transform: translateY(40%);
}

.huh:hover {
  transform: translateY(25%);
}

.is-open {
  transform: translateY(0) !important;
  transition: transform 0.3s ease-out;
}

.triangle {
  aspect-ratio: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  width: 200x;
  height: 100px;
}

.react-flow__node {
  cursor: pointer !important;
}

/*Animations that I did not do manually*/

/* ----------------------------------------------
 * Generated by Animista on 2026-3-4 21:51:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes jello-vertical {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}

.bubble-float {
  animation: float 2s ease-in-out infinite;
}

@media (max-width: 768px) {
  #kidla {
    background-image: url("/images/Body2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  #kidla.modal-open {
    background-image: url("/images/D2.png") !important;
    transform: translateY(0);
    animation: jello-vertical 0.4s;
  }
  .huh {
    transition: transform 0.3s ease-out;
    transform: translateY(25%);
  }

  .is-open {
    transform: translateY(0) !important;
    transition: transform 0.3s ease-out;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce {
  animation: bounce 1s infinite;
}

.btn-primary {
  background-color: #011638;
  color: white;
  border-radius: 8px;
  transition: background-color;
}

.btn-primary:hover {
  background-color: #022050;
  color: white;
}

.btn-secondary {
  background-color: #dbb32f;
  border-radius: 8px;
  transition: background-color;
}

.btn-secondary:hover {
  background-color: #c49b16;
}
