.toolbar {
  background-color: #f9f9f9;
  border-radius: 12px;
  padding: 10px 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  margin-bottom: 20px;
  border: 1px solid #011638;
}

.toolbar a,
.toolbar button {
  text-decoration: none;
  margin: 2px;
  padding: 5px;
  border-radius: 8px;
  transition: all 0.1s;
  cursor: pointer;
  outline: none;
}

.toolbar select {
  border: 1px solid #999;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s;
}

.toolbar select:focus {
  border-color: #007bff;
}

.toolbar select option {
  padding: 5px 10px;
}

.toolbar label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toolbar input[type="radio"] {
  margin-right: 5px;
  margin-bottom: 4px;
}

.toolbar input[type="checkbox"] {
  margin-right: 5px;
}

.toolbar input[type="text"] {
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  border-radius: 15px;
  outline: none;
  transition: border-color 0.3s;
  margin: 0 10px;
}

.toolbar input[type="text"]:focus {
  border-color: #007bff;
}

.toolbar-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

/*Main*/
.rbc-calendar {
  font-family: var(--font-oswald), ui-sans-serif, system-ui;
  border: 1px solid #011638 !important;
  border-radius: 0.75rem;
  background-color: white;
  overflow: hidden;
}

/*Day name etc*/
.rbc-header {
  background-color: #011638 !important;
  color: #f7f7f9 !important;
  border-bottom: 1px solid #011638 !important;
  padding: 8px 0 !important;
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .rbc-header {
    font-size: 17px;
  }
}

/*Cells*/
.rbc-month-view {
  border: none !important;
}

.rbc-day-bg {
  background-color: white !important;
}

/*Date number*/
.rbc-date-cell {
  font-family: var(--font-ubuntu-mono), ui-sans-serif, system-ui;
  font-size: 14px;
  padding: 5px 10px;
  text-align: right;
  color: #011638;
}

/*events*/
.rbc-event {
  background-color: #eec643 !important;
  color: #141414 !important;
  border: 1px solid #d4b03a !important;
  border-radius: 4px !important;
  font-family: var(--font-ubuntu-mono), ui-sans-serif, system-ui;
  font-size: 10px !important;
  padding: 2px 5px !important;
  margin-bottom: 2px !important;
  transition: transform 0.1s ease;
}

.rbc-event:focus {
  outline: none;
}

.rbc-event:hover {
  filter: brightness(95%);
}

@media (min-width: 768px) {
  .rbc-event {
    font-size: 13px !important;
  }
}

.rbc-show-more {
  color: #011638;
}

@media (min-width: 768px) {
  .toolbar button {
    padding: 7px 17px;
  }
}

/*grid lines and such*/
.rbc-off-range-bg {
  background-color: #f0f0f0 !important;
}

.rbc-month-row + .rbc-month-row {
  border-top: 1px solid #011638 !important;
}

.rbc-day-bg + .rbc-day-bg {
  border-left: 1px solid #011638 !important;
}
